.headeraboutme { 
    /* The image used */
    background-image: url("./img/coffeewallpaper.jpg");
  
    /* Set a specific height */
    height: 100vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position:relative;
}

.heroaboutme {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h1aboutme {
    margin: 0;
}

.heroaboutmescroll {
    color: white;
    text-decoration: none;
}

.headeraboutme h1 {
    font-size: 5rem;
}

#contentaboutme {
    padding: 2.5rem 0;
    margin-left: auto;
    margin-right: auto;
    width: 580px;
    color: black;
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
    text-align: justify;
    line-height: 3.5rem;
}

.largeletter {
    font-size: 3rem;
    font-weight: bold;
}

.linkaboutme {
    color: black;
    transition: .5s;
}

.linkaboutme:hover {
    color: blue;
}

#navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 100;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    background-image: linear-gradient(black, white);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    transition: 2s;
  }
  
  #navbar a:hover {
    background-color: black;
    color: white;
    background-size: 100% 2px;
  }

  @media only screen and (max-width: 56.25em) {
    #contentaboutme {
        width: 80%;
    }
  }